<footer class="mt-auto">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a href="{% url 'home' %}" class="text-decoration-none">
                            <text class="text-dark fs-4">&nbsp;&nbsp;MATCH</text>
                            <text class="text-danger fs-4">NOTIFICATION</text>
                        </a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
    </div>
</footer>