<div class="container">
    <div class="navbar navbar-dark bg-dark">
        <div class="col-md-10">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand"> <text class="text-light fs-2">&nbsp;&nbsp;MATCH</text> <text class="text-danger fs-2">NOTIFICATION</text></a>
            </div>
        </div>

        <div class="col-md-2 text-light">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'login' %}" class="btn btn-outline-light">Вхід</a>
            <a href="{% url 'registration' %}" class="btn btn-outline-light">Реєстрація</a>
        </div>
    </div>
</div>