{% extends 'base.html' %}

{% load static %}

{% block title %}
{{block.super}} : Редагування підписки
{% endblock %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Редагування підписки</h2>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="hidden" id="user_pk" value={{request.user.pk}}>

                <button class="btn btn-outline-secondary btn-md" type="submit">Зберегти</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}